.question-label{
    margin-bottom: 1rem;
    margin-top: 1rem;
}
.question-button{
  margin-left: 1rem;
  margin-right: 1rem;
}
label{
    margin-bottom: 1rem;
    margin-top: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;

}
